<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>
        {% block title %}
            {%- if page_title -%}
                {{ page_title }} - Kepavi
            {%- else -%}
                Kepavi: Kegg Pathway Tool viewer
            {%- endif -%}
        {% endblock %}
        </title>

        {% block keywords %}
            <meta name="keywords" content="omics services, metabolomics, software">
            <meta name="description" content="{{current_user.username}} fluxomics, metabolomics projects ">
        {% endblock %}

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Marc Dubois">

        <meta property="og:site_name" content="Kepavi"/>
        <meta property="og:title" content="Kepavi"/>
        <meta property="og:type" content="article"/>
        <meta property="og:description"
              content="Kepavi is a web service for doing metabolomics and fluxomics."/>
        <meta property="og:locale" content="en_US"/>
        <meta property="og:url" content="http://www.kepavi.com/"/>

        <meta property="twitter:card" content="summary_large_image"/>
        <meta property="twitter:site" content="@kepavi"/>
        <meta property="twitter:creator" content="@kepavi"/>

        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">

        {% block css %}
            <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
            <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
            <link href='https://fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' type='text/css'>
            <link href='https://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" >
            <link rel="stylesheet" href="{{ url_for('static', filename='css/flaskbb.css') }}">
            <!-- overriding container size !-->
            <style>
                #wrap .container {
                    width:100%;
                }
                 .navbar {
                    padding: 0 16% 0 16%;
                    margin-bottom: 0
                }
               /* .navbar .container {
                    margin: 0;
                }
                .navbar {
                    width: 100%;
                }
*/
            </style>
        {% endblock %}
    </head>

    <body>
         {% block navigation %}
            <!-- Fixed navbar -->
            <nav class="navbar navbar-fixed-top">
              <div class="container">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a style="margin-top: -10px;" class="navbar-brand" href="/"><img src="{{ url_for('static', filename='img/Sans-titre---6.gif') }}" height="50"></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                  <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('home.index') }}#prices"><span class="fa fa-map"></span> Projects</a></li>
                    <li><a href="{{ url_for('home.index') }}#doc"><span class="fa fa-map-marker"></span> Doc</a></li>
                  </ul>
                  <ul class="nav pull-right">
                    <li><a href="#"><span class="fa fa-sign-out"></span> logout</a></li>

                  </ul>
                </div><!--/.nav-collapse -->
              </div>
            </nav>
        {% endblock %}

        {% block jumbo %}
        {% endblock %}

        <div id="wrap">
            <div class="container" >
                <div class="row">
                    <div class="col-md-2 main-sidebar">
                        <div class="sidebar-menu">
                            <ul class="nav nav-stacked">
                                <li class="brand">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <img src="{{ url_for('static', filename='img/marc-dubois.jpg') }}" class="img-circle" width="100" height="100"/>
                                            </div>
                                            <div class="col-md-6">
                                                <p style="padding-top: 20px;">
                                                     <strong>{{ current_user.username }}</strong><br/>
                                                    <span class="label label-info">Beginner</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="divider"></li>
                                <li data-toggle="tooltip" data-placement="right" title="See your projects and modify your account parameters">
                                    <a href="{{ url_for('user.profile', username=current_user.username) }}">Projects</a>
                                </li>
                                <li data-toggle="tooltip" data-placement="right" title="Performs deisotoping and
                                fragments/adducts reasearch in your peaklist using heuristics and bayesian techniques.">
                                    <a href="#">Peaklist denoising</a>
                                </li>
                                <li data-toggle="tooltip" data-placement="right" title="Research compounds in HMDB, LMDB or Kegg databases.">
                                    <a href="#">Database annotation</a>
                                </li>
                                <li data-toggle="tooltip" data-placement="right" title="Perform flux analyses using CobraPy"><a href="#">Flux analysis</a></li>
                            </ul>
                            <!-- {%  if current_user.is_authenticated() %}
                                <a style="margin-top: 50px;" href="{{ url_for('auth.logout') }}" class="btn btn-primary btn-block">Logout</a>
                            {% else %}
                                <a style="margin-top: 50px;" href="{{ url_for('auth.login') }}" class="btn btn-primary btn-block">Login</a>
                            {% endif %} -->
                        </div>
                        <div class="sidebar-stats">
                            <ul class="nav nav-stacked">
                                <li class="sidebar-title"><strong>Statistics</strong></li>
                                <li class="divider"></li>
                                <li><strong><span class="fa fa-users text-muted"></span> Users:</strong> <em>65</em></li>
                                <li><strong><span class="fa fa-briefcase text-muted"></span> Projects:</strong> <em>456</em></li>
                                <li><strong><span class="fa fa-flask text-muted"></span> Metabolites:</strong> <em>1598864</em></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-10 main-content">
                         {% block messages %}
                             {% include 'flashed_messages.html' %}
                         {% endblock %}
                        <div class="container">
{#                            style="width:100%">#}
                            {% block content %}
                            {% endblock %}
                        </div>
                    </div>
                </div>

            </div> <!-- /container -->
        </div> <!-- end wrap -->

        {% block footer %}
            <div id="footer" style="background-color: #222222;">
                <div class="container">
                    <div class="row text-center" style="padding-top: 20px;">
                        <div class="col-md-1 col-md-offset-5">
                            <a href="https://www.facebook.com/metabomatch"><span
                                    class="fa fa-facebook fa-2x text-muted"></span></a>
                        </div>
                        <div class="col-md-1">
                            <a href="https://twitter.com/metabomatch"><span
                                    class="fa fa-twitter fa-2x text-muted"></span></a>
                        </div>
                    </div>
                    <div class="row text-center" style="padding-top: 20px">
                        <p class="text-muted"><strong>Copyright Kepavi 2015. All rights reserved.</strong>
                            Powered by <a href="http://flask.pocoo.org">Flask.</a>
                            Hosted at <a href="http://heroku.com" title="heroku website">Heroku</a>

                        </p>
                    </div>
                </div>
            </div>
        {% endblock %}

        {% block javascript %}
            <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
            <script>
                $(function () {
                    $('[data-toggle="tooltip"]').tooltip();
                })
            </script>
        {% endblock %}

        {% block scripts %}
        {% endblock %}
    </body>
</html>
