{% extends "sidebar_layout.html" %}

{% block title %}
    Visualize network
{% endblock %}

{% block keywords %}
    <meta name="keywords" content="metabomatch, about">
    <meta name="description" content="The reasons why we made metabomatch">
{% endblock %}

{% block css %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chosen.min.css') }}">
    <style>
        .meta-loader {
            display: none;
        }

        /*.main-sidebar {
            display: none;
        }*/

        .load-cytoscape-btn {
            /*margin-top: 50px;*/
        }

        #cytoscape-container {
            /*height:100%;*/
            width:100%;
            overflow: hidden;
            background-color: #2c3e50;
        }

        hr {
            border: 1px solid white;
        }

        #settings-nav {
            position: fixed;
            right: 0;
            max-width: 20%;
            background-color: white;
            border-radius: 5px;
            z-index: 25;
        }

        #setting-nav-shower {
            display: none;
            position:fixed;
            right:0;
            background-color: white;
            border-radius: 5px;
            z-index: 25;
        }

        #centered-loader {
            position:absolute;
            top: 50%;
            bottom: 50%;
            left: 50%;
            right: 50%;
            z-index: 1;
            display: none;
        }

        .help-block { font-size: 0.8em;}

        .sigma-tooltip {
          max-width: 240px;
          max-height: 280px;
          background-color: rgb(249, 247, 237);
          box-shadow: 0 2px 6px rgba(0,0,0,0.3);
          border-radius: 6px;

        }

        .sigma-tooltip-header {
          font-variant: small-caps;
          font-size: 120%;
          color: #437356;
          border-bottom: 1px solid #aac789;
          padding: 10px;
        }

        .sigma-tooltip-body {
          padding: 10px;
        }

        .sigma-tooltip-body th {
          color: #999;
          text-align: left;
        }

        .sigma-tooltip-footer {
          padding: 10px;
          border-top: 1px solid #aac789;
        }

        .sigma-tooltip > .arrow {
          border-width: 10px;
          position: absolute;
          display: block;
          width: 0;
          height: 0;
          border-color: transparent;
          border-style: solid;
        }

        .sigma-tooltip.top {
          margin-top: -12px;
        }
        .sigma-tooltip.top > .arrow {
          left: 50%;
          bottom: -10px;
          margin-left: -10px;
          border-top-color: rgb(249, 247, 237);
          border-bottom-width: 0;
        }

        .sigma-tooltip.bottom {
          margin-top: 12px;
        }
        .sigma-tooltip.bottom > .arrow {
          left: 50%;
          top: -10px;
          margin-left: -10px;
          border-bottom-color: rgb(249, 247, 237);
          border-top-width: 0;
        }

        .sigma-tooltip.left {
          margin-left: -12px;
        }
        .sigma-tooltip.left > .arrow {
          top: 50%;
          right: -10px;
          margin-top: -10px;
          border-left-color: rgb(249, 247, 237);
          border-right-width: 0;
        }

        .sigma-tooltip.right {
          margin-left: 12px;
        }
        .sigma-tooltip.right > .arrow {
          top: 50%;
          left: -10px;
          margin-top: -10px;
          border-right-color: rgb(249, 247, 237);
          border-left-width: 0;
        }
    </style>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/qtip2/2.2.0/jquery.qtip.min.css" rel="stylesheet" type="text/css" />

{% endblock %}

{% block content %}
    <div id="centered-loader"><span class="fa fa-circle-o-notch fa-spin fa-3x"></span></div>
    <div id="setting-nav-shower"><a class="setting-nav-shower-a" href="#"><span class="fa fa-gg fa-2x"></span></a></div>
    <div id="settings-nav" class="container">
        <form>
            <div class="row">
                <div class="col-md-12">
                    <h5>1. Select an Organism<a class="setting-nav-toggle pull-right" href="#"><span class="fa fa-gg"></span></a></h5>

                    <div class="form-group">
                        <select class="org_selector" style="width:75%">
                            <option value="none" selected disabled>Choose an organism...</option>
                            {% for o in organisms %}
                                <option value="{{ o.org }}" {% if o.tax == model_name %} selected {% endif %}>{{ o.tax }}</option>
                            {% endfor %}
                        </select>
                        <p class="help-block">Pathway are loaded when you choose an organism. <span class="meta-loader fa fa-circle-o-notch fa-spin"></span></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h5>2. Select a pathway</h5>
                     <div class="form-group">
                        <select class="pathway_selector" style="width:75%">
                            {# <option value="none" selected disabled>Choose a pathway...</option> #}
                            <option value="whole" selected>Whole model</option>
                            {% for pathway in pathways %}
                                <option value="{{pathway['id']}}">{{pathway['name'].split(' - ') | first}}</option>
                            {% endfor %}
                        </select>
                        <p id="help" class="help-block">Choose an organism first.</p>
                     </div>
                </div>
            </div>
            <div class="row" style="padding-bottom: 20px;">
                <div class="col-md-12 text-center">
                    <button class="load-cytoscape-btn btn btn-info">Load pathway</button>
                </div>
            </div>
            <div class="row text-center">
                <button class="btn btn-sucess filter-node">Filter node</button>
            </div>
        </form>
    </div>
    <div class="row">
        <div id="cytoscape-container" style="border: 3px solid black">
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/linkurious/sigma.min.js')}}"></script>
    
    {# force directed layout #}
    <script src="{{ url_for('static', filename='js/linkurious/plugins/sigma.layouts.forceAtlas2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/linkurious/plugins/sigma.plugins.animate.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/linkurious/plugins/sigma.layouts.forceLink.min.js') }}"></script>
    
    {# dragging node #}
    <script src="{{ url_for('static', filename='js/linkurious/plugins/sigma.plugins.dragNodes.min.js')}}"></script>

    {# halo #}
    <script src="{{ url_for('static', filename='js/linkurious/plugins/sigma.helpers.graph.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/linkurious/plugins/sigma.renderers.halo.min.js')}}"></script>

    {# design #}
    <script src="{{ url_for('static', filename='js/linkurious/plugins/sigma.plugins.colorbrewer.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/linkurious/plugins/sigma.plugins.design.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/linkurious/plugins/sigma.renderers.customEdgeShapes.min.js')}}"></script>

    {# tooltips #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.8.1/mustache.min.js"></script>
    <script src="{{ url_for('static', filename='js/linkurious/plugins/sigma.plugins.tooltips.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/chosen.jquery.min.js')}}"></script>
    <script>
        $(function() {
            // show hide settings nav
            $('.setting-nav-shower-a').on('click', function(e){
                e.preventDefault();
                $('#setting-nav-shower').fadeOut();
                $('#settings-nav').fadeIn();
            });

            var setting_nav_toggle = $('.setting-nav-toggle');
            setting_nav_toggle.on('click', function(e) {
                e.preventDefault();
                $('#settings-nav').fadeOut();
                $('#setting-nav-shower').fadeIn();    
            });


            // resize sigma container
            var window_size = $(window).height() - 100;
            $("#cytoscape-container").css('height', window_size + 'px');
            $("#cytoscape-container").css('margin-top', '-16px');
            //$('.sidebar-menu').css('height', $(document).height() + 'px'); 

            //manage selectors
            var org_selector = $(".org_selector");
            org_selector.chosen({
                no_results_text: "No match found..."
            });

            var pathway_selector = $('.pathway_selector');
            // pathway_selector.attr('disabled');
            //pathway_selector.chosen({no_results_text: "No match found..."});

            console.log(pathway_selector);
            var meta_loader = $('.meta-loader');

            org_selector.on('change', function(evt, params){

                // remove all options
                $('.pathway_selector option').remove();
                $('#help').css('display', 'none');
                console.log('on change event');
                meta_loader.css('display', 'inline');
                console.log(params['selected']);
                $.get("{{ url_for('home.get_pathways') }}?org=" + params['selected'],
                        function(data){
                            console.log("populating patwhay...");
                            for (i=0,l=data.length; i < l; ++i) {
                                var d = data[i];
                                pathway_selector.append($('<option>', {value: d['id'], text:d['name']}));
                            }
                            console.log('done');
                            $('.load-cytoscape-btn').removeAttr('disabled');
                            pathway_selector.removeAttr('disabled');

                            meta_loader.css('display', 'none');
                        },
                        "json");
            });

            /** get some kgml data */
            $('.load-cytoscape-btn').on('click', function(evt){
                evt.preventDefault();
                var pathway_id = pathway_selector.val();
                var pathway_name = $('.pathway_selector option:selected').text();
                $('#centered-loader').css('display', 'inline');
                $.get("{{ url_for('user.get_kgml', username=current_user.username) }}?pathway_name=" + pathway_name + "&pathway_id=" + pathway_id + "&analysis_id=" + "{{ analysis.id }}",
                        function(data){

                            sigma.renderers.def = sigma.renderers.canvas
                            s = new sigma({
                                graph: JSON.parse(data),
                                container: 'cytoscape-container',
                                //type: 'canvas',
                                settings: {
                                    nodeHaloColor: '#ecf0f1',
                                    labelAlignment: 'center',
                                    //edgeHaloColor: '#ecf0f1',
                                    enableEdgeHovering: true,
                                    edgeHoverSizeRatio: 2,
                                    nodeHaloSize: 40,
                                    //edgeHaloSize: 10,
                                    //defaultNodeColor: '#ec5148'
                                    maxEdgeSize: 1,
                                    animationsTime: 2500
                                }
                            });
                            // s.graph.edges().forEach(function(edge){
                            //     // fetch data attribute to make arrow on source
                            //     // or on target
                                
                            //     edge.type='tapered';
                            //     console.log(edge);
                            // });
                            s.graph.nodes().forEach(function(node){
                                node.degree = s.graph.degree(node.id); 
                            });
                            var fa = sigma.layouts.configForceLink(s, {
                              worker: true,
                              barnesHutOptimize: false,
                              autoStop: true,
                              background: true,
                              easing: 'cubicInOut'
                            });

                            sigma.layouts.startForceLink();
                            //s.refresh();

                            var dragListener = sigma.plugins.dragNodes(s, s.renderers[0]);                        

                            function renderHalo() {
                              s.renderers[0].halo({
                                nodes: s.graph.nodes()
                              });
                            }

                            //renderHalo();

                            s.renderers[0].bind('render', function(e) {
                              //renderHalo();
                            });

                            s.bind('clickStage', function(e) {
                              //renderHalo();
                            });

                            s.bind('hovers', function(e) {
                              var adjacentNodes = [],
                                  adjacentEdges = [];


                                if (e.data.leave.nodes.length) {
                                    console.log('leaving...');
                                    s.renderers[0].halo({
                                        nodes: [], //adjacentNodes,
                                        edges: [] //adjacentEdges
                                      });
                                    return;
                                }

                              if (!e.data.enter.nodes.length) 
                                return;



                              // Get adjacent nodes:
                              e.data.enter.nodes.forEach(function(node) {
                                adjacentNodes = adjacentNodes.concat(s.graph.adjacentNodes(node.id));
                              });

                              // Add hovered nodes to the array and remove duplicates:
                              adjacentNodes = adjacentNodes.concat(e.data.enter.nodes);

                              // Get adjacent edges:
                              e.data.enter.nodes.forEach(function(node) {
                                adjacentEdges = adjacentEdges.concat(s.graph.adjacentEdges(node.id));
                              });

                              // Remove duplicates:
                              adjacentEdges = adjacentEdges;

                              // Render halo:
                              s.renderers[0].halo({
                                nodes: adjacentNodes,
                                edges: adjacentEdges
                              }); 
                            }); // end bind hovers
                            
                            
                            function hideNodeBasedOnDegree() {
                                s.graph.nodes().forEach(function(node){
                                    if (node.degree == 0) {
                                        node.hidden = true;
                                    }
                                });
                                s.refresh();
                            }

                            $('.filter-node').on('click', function(e){
                                e.preventDefault();
                                hideNodeBasedOnDegree();

                            });

                            // tooltips configuration
                            var config = {
                              node: {
                                show: 'clickNode',
                                //hide: 'hovers',
                                cssClass: 'sigma-tooltip',
                                position: 'top',
                                // autoadjust: false,
                                template:
                                '<div class="arrow"></div>' +
                                ' <div class="sigma-tooltip-header">\{\{full_name\}\}</div>' +
                                '  <div class="sigma-tooltip-body">' +
                                '  </div>' +
                                '  <div class="sigma-tooltip-footer">Number of connections: \{\{degree\}\}</div>',
                                renderer: function(node, template) {
                                  // The function context is s.graph
                                  node.degree = this.degree(node.id);

                                  // Returns an HTML string:
                                    console.log(template);
                                    console.log(node);
                                  return Mustache.render(template, node);

                                  // Returns a DOM Element:
                                  //var el = document.createElement('div');
                                  //return el.innerHTML = Mustache.render(template, node);
                                }
                              }
                            };

                            // Instanciate the tooltips plugin with a Mustache renderer for node tooltips:
                            var tooltips = sigma.plugins.tooltips(s, s.renderers[0], config);

                            // setting styles
                            var myStyles = {
                              nodes: {
                                // label: {
                                //   by: 'id',
                                //   format: function(value) { return '#' + value; }
                                // },
                                color: {
                                  by: 'degree',
                                  scheme: 'colorbrewer.sequentialGreen'
                                },
                                size: {
                                    by: 'degree'
                                }
                            }
                              
                            };
                            var myPalette = {
                              colorbrewer: {
                                sequentialGreen: sigma.plugins.colorbrewer.Spectral
                              }
                          };

                              // Instanciate the design:
                              var design = sigma.plugins.design(s, {
                                styles: myStyles,
                                palette: myPalette
                              });
                              design.apply();

                            $('#centered-loader').css('display', 'none');
                        }
                );
            });
                           
        });
    </script>
{% endblock %}
