{% extends "sidebar_layout.html" %}

{% block title %}
    Visualize network
{% endblock %}

{% block keywords %}
    <meta name="keywords" content="metabomatch, about">
    <meta name="description" content="The reasons why we made metabomatch">
{% endblock %}

{% block css %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chosen.min.css') }}">
    <style>

        html, body {
            overflow: hidden;
        }
        .meta-loader {
            display: none;
        }

        .small-size {
            font-size: 0.8em;
        }

        /*.main-sidebar {
            display: none;
        }*/

        .load-cytoscape-btn {
            /*margin-top: 50px;*/
        }

        #cytoscape-container {
            /*height:100%;*/
            width:100%;
            overflow: hidden;
            background-color: #2c3e50;
        }

        hr {
            border: 1px solid white;
        }

        #settings-nav, #customize-nav {
            position: fixed;
            right: 0;
            max-width: 20%;
            background-color: white;
            border-radius: 5px;
            z-index: 25;
            font-size: 0.8em;
        }

        #customize-nav {
            display: none;
        }

        #setting-nav-shower {
            /*display: none;*/
            position:fixed;
            right:0;
            background-color: white;
            border-radius: 5px;
            padding: 5px;
            z-index: 25;
        }

        #customize-nav-shower {
            /*display: none;*/
            position:fixed;
            right:0;
            background-color: white;
            /*color: red;*/
            border-radius: 5px;
            z-index: 25;
            margin-top: 60px;
            padding: 5px;
        }

        #customize-nav-shower:hover, #setting-nav-shower:hover {
            box-shadow: 0 2px 6px rgba(0,0,0,0.3);
        }

        #customize-nav-shower a {
            text-decoration: none;
            /*color: purple;*/

        }

        #centered-loader {
            position:absolute;
            top: 50%;
            bottom: 50%;
            left: 50%;
            right: 50%;
            z-index: 1;
            display: none;
            color:white;
        }

        .help-block { font-size: 0.8em;}

        .sigma-tooltip {
          max-width: 240px;
          max-height: 280px;
          background-color: rgb(249, 247, 237);
          box-shadow: 0 2px 6px rgba(0,0,0,0.3);
          border-radius: 6px;
          margin-left: -200px;
        }

        .sigma-tooltip-header {
          font-variant: small-caps;
          font-size: 120%;
          color: #437356;
          border-bottom: 1px solid #aac789;
          padding: 10px;
        }

        .sigma-tooltip-body {
          padding: 10px;
        }

        .sigma-tooltip-body th {
          color: #999;
          text-align: left;
        }

        .sigma-tooltip-footer {
          padding: 10px;
          border-top: 1px solid #aac789;
        }

        .sigma-tooltip > .arrow {
          border-width: 10px;
          position: absolute;
          display: block;
          width: 0;
          height: 0;
          border-color: transparent;
          border-style: solid;
        }

        .sigma-tooltip.top {
          margin-top: -12px;
        }
        .sigma-tooltip.top > .arrow {
          left: 50%;
          bottom: -10px;
          margin-left: -10px;
          border-top-color: rgb(249, 247, 237);
          border-bottom-width: 0;
        }

        .sigma-tooltip.bottom {
          margin-top: 12px;
        }
        .sigma-tooltip.bottom > .arrow {
          left: 50%;
          top: -10px;
          margin-left: -10px;
          border-bottom-color: rgb(249, 247, 237);
          border-top-width: 0;
        }

        .sigma-tooltip.left {
          margin-left: -12px;
        }
        .sigma-tooltip.left > .arrow {
          top: 50%;
          right: -10px;
          margin-top: -10px;
          border-left-color: rgb(249, 247, 237);
          border-right-width: 0;
        }

        .sigma-tooltip.right {
          margin-left: 12px;
        }
        .sigma-tooltip.right > .arrow {
          top: 50%;
          left: -10px;
          margin-top: -10px;
          border-right-color: rgb(249, 247, 237);
          border-left-width: 0;
        }

        .node-color-select .edge-color-select{
            font-size: 0.8em;          
         }
    </style>

{% endblock %}

{% block content %}
    <!-- LOADER -->
    <div id="centered-loader"><span class="fa fa-circle-o-notch fa-spin fa-3x"></span></div>

    <!-- BUTTONS SETTINGS NAV -->
    <div id="setting-nav-shower">
        <a class="setting-nav-shower-a" href="#">
            <span class="fa fa-plus fa-2x"></span>
        </a>
    </div>
    
    <div id="customize-nav-shower">
        <a class="customize-nav-shower-a" href="#">
            <span class="fa fa-gear fa-2x"></span>
        </a>
    </div>

    <!-- SETTINGS NAV -->
    <div id="settings-nav" class="container">
        <form>
            <div class="row">
                <div class="col-md-12">
                    <h5>1. Select an Organism<a class="setting-nav-toggle pull-right" href="#"><span class="fa fa-plus"></span></a></h5>

                    <div class="form-group">
                        <select class="org_selector" style="width:75%">
                            <option value="none" selected disabled>Choose an organism...</option>
                            {% for o in organisms %}
                                <option value="{{ o.org }}" {% if o.tax == model_name %} selected {% endif %}>{{ o.tax }}</option>
                            {% endfor %}
                        </select>
                        <p class="help-block">Pathway are loaded when you choose an organism. <span class="meta-loader fa fa-circle-o-notch fa-spin"></span></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h5>2. Select a pathway</h5>
                     <div class="form-group">
                        <select class="pathway_selector" style="width:75%">
                            {# <option value="none" selected disabled>Choose a pathway...</option> #}
                            <option value="whole" selected>Whole model</option>
                            {% for pathway in pathways %}
                                <option value="{{pathway['id']}}">{{pathway['name'].split(' - ') | first}}</option>
                            {% endfor %}
                        </select>
                        <p id="help" class="help-block">Choose an organism first.</p>
                     </div>
                </div>
            </div>
            <div class="row" style="padding-bottom: 20px;">
                <div class="col-md-6 text-center">
                    <button class="load-cytoscape-btn btn btn-info">add</button>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-warning clear-graph">clear</button>
                </div>
            </div>
        </form>
    </div>

    <!-- CUSTOMIZE BAR -->
    <div id="customize-nav" class="container">
        <h5>3. Customize<a class="customize-nav-toggle pull-right" href="#"><span class="fa fa-gear"></span></a></h5>
        
        <!-- NODE PROPERTIES -->
        <h6>Node color</h6>
        <div class="row small-size" style="padding-bottom: 10px;">
            <div class="col-md-4">
                <select class="node-color-prop-select">
                    <option value="flux">flux</option>
                    <option value="cumflux">cumflux</option>
                    <option value="degree">degree</option>
                </select>
            </div>
            <div class="col-md-4">
                <select class="node-color-select">
                    <option value="YlGn">YlGn</option>
                    <option value="YlGnBu">YlGnBu</option>
                    <option value="GnBu">GnBu</option>
                    <option value="BuGn">BuGn</option>
                    <option value="PuBuGn">PuBuGn</option>
                    <option value="PuBu">PuBu</option>
                    <option value="BuPu">BuPu</option>
                    <option value="RdPu">RdPu</option>
                    <option value="PuRd">PuRd</option>
                    <option value="OrRd">OrRd</option>
                    <option value="YlOrRd">YlOrRd</option>
                    <option value="YlOrBr">YlOrBr</option>
                    <option value="Purples">Purples</option>
                    <option value="Blues">Blues</option>
                    <option value="Greens">Greens</option>
                    <option value="Oranges">Oranges</option>
                    <option value="Reds">Reds</option>
                    <option value="Greys">Greys</option>
                    <option value="PuOr">PuOr</option>
                    <option value="BrBG">BrBG</option>
                    <option value="PRGn">PRGn</option>
                    <option value="PiYG">PiYG</option>
                    <option value="RdBu">RdBu</option>
                    <option value="RdGy">RdGy</option>
                    <option value="RdYlBu">RdYlBu</option>
                    <option value="Spectral">Spectral</option>
                    <option value="RdYlGn">RdYlGn</option>
                    <option value="Accent">Accent</option>
                    <option value="Dark2">Dark2</option>
                    <option value="Paired">Paired</option>
                    <option value="Pastel1">Pastel1</option>
                    <option value="Pastel2">Pastel2</option>
                    <option value="Pastel3">Pastel3</option>
                    <option value="Set1">Set1</option>
                    <option value="Set2">Set2</option>
                    <option value="Set3">Set3</option>
                </select>
            </div>
            <div class="col-md-4 text-left">
                <a href="#" class="apply-node-color">apply</a>
            </div>
        </div>
        <h6>Node size</h6>
        <div class="row small-size">
            <div class="col-md-4">
                <select class="node-size-prop-select">
                    <option value="flux">flux</option>
                    <option value="cumflux">cumflux</option>
                    <option value="degree">degree</option>
                </select>
            </div>
            <div class="col-md-4">
                <input style="width:100%" value="5" class="nb-node-size" type="number" min="1" max="5" step="1"/>
            </div>
            <div class="col-md-4 text-left">
                <a href="#" class="apply-node-size">apply</a>
            </div>
        </div>

        <!-- EDGE PROPERTIES -->
        <h6>Edge color</h6>
        <div class="row small-size" style="padding-bottom: 10px;">
            <div class="col-md-4">
                <select class="edge-color-prop-select">
                    <option value="flux">flux</option>
                    <option value="absflux">absflux</option>
                    <option value="sign">sign</option>
                </select>
            </div>
            <div class="col-md-4">
                <select class="edge-color-select">
                    <option value="YlGn">YlGn</option>
                    <option value="YlGnBu">YlGnBu</option>
                    <option value="GnBu">GnBu</option>
                    <option value="BuGn">BuGn</option>
                    <option value="PuBuGn">PuBuGn</option>
                    <option value="PuBu">PuBu</option>
                    <option value="BuPu">BuPu</option>
                    <option value="RdPu">RdPu</option>
                    <option value="PuRd">PuRd</option>
                    <option value="OrRd">OrRd</option>
                    <option value="YlOrRd">YlOrRd</option>
                    <option value="YlOrBr">YlOrBr</option>
                    <option value="Purples">Purples</option>
                    <option value="Blues">Blues</option>
                    <option value="Greens">Greens</option>
                    <option value="Oranges">Oranges</option>
                    <option value="Reds">Reds</option>
                    <option value="Greys">Greys</option>
                    <option value="PuOr">PuOr</option>
                    <option value="BrBG">BrBG</option>
                    <option value="PRGn">PRGn</option>
                    <option value="PiYG">PiYG</option>
                    <option value="RdBu">RdBu</option>
                    <option value="RdGy">RdGy</option>
                    <option value="RdYlBu">RdYlBu</option>
                    <option value="Spectral">Spectral</option>
                    <option value="RdYlGn">RdYlGn</option>
                    <option value="Accent">Accent</option>
                    <option value="Dark2">Dark2</option>
                    <option value="Paired">Paired</option>
                    <option value="Pastel1">Pastel1</option>
                    <option value="Pastel2">Pastel2</option>
                    <option value="Pastel3">Pastel3</option>
                    <option value="Set1">Set1</option>
                    <option value="Set2">Set2</option>
                    <option value="Set3">Set3</option>
                </select>
            </div>
            <div class="col-md-4 text-left">
                <a href="#" class="apply-edge-color">apply</a>
            </div>
        </div>
        <h6>Edge size</h6>
        <div class="row small-size" style="padding-bottom: 20px;">
            <div class="col-md-4">
                <select class="edge-size-prop-select">
                    <option value="flux">flux</option>
                    <option value="absflux">absflux</option>
                    <option value="sign">sign</option>
                </select>
            </div>
            <div class="col-md-4">
                <input style="width:100%" value="5" class="nb-edge-size" type="number" min="1" max="5" step="1"/>
            </div>
            <div class="col-md-4 text-left">
                <a href="#" class="apply-edge-size">apply</a>
            </div>
        </div>

        <div class="row small-size" style="padding-bottom: 20px;">
            <div class="col-md-4">
                <span>Edge type</span>
            </div>
            <div class="col-md-4">
                <select class="edge-type-select" style="width:100%;">
                    <option value="line">line</option>
                    <option value="arrow">arrow</option>
                    <option value="curvedArrow">curvedArrow</option>
                    <option value="tapered">tapered</option>
                </select>
            </div>
            <div class="col-md-4">
                <a href="#" class="apply-edge-type">apply</a>
            </div>
        </div>

        <div class="row small-size" style="padding-bottom: 20px;">
            <div class="col-md-4">
                <span>Background color</span>
            </div>
            <div class="col-md-4">
                <input id="bg-color-input" type="color"/>
            </div>
            <div class="col-md-4">
                <a href="#" class="apply-background-color">apply</a>
            </div>
        </div>

        <div class="row text-center" style="padding-bottom: 20px;">
            <button class="btn btn-sucess filter-node">Filter node with degree=0</button>
        </div>
    </div>
    <!-- END CUSTOMIZE  -->

    <div class="row">
        <div id="cytoscape-container" style="border: 3px solid black">
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/linkurious/sigma.min.js')}}"></script>
    
    {# force directed layout #}
    <script src="{{ url_for('static', filename='js/linkurious/plugins/sigma.layouts.forceAtlas2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/linkurious/plugins/sigma.plugins.animate.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/linkurious/plugins/sigma.layouts.forceLink.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/linkurious/plugins/sigma.layouts.dagre.min.js') }}"></script>

    {# dragging node #}
    <script src="{{ url_for('static', filename='js/linkurious/plugins/sigma.plugins.dragNodes.min.js')}}"></script>

    {# halo #}
    <script src="{{ url_for('static', filename='js/linkurious/plugins/sigma.helpers.graph.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/linkurious/plugins/sigma.renderers.halo.min.js')}}"></script>

    {# design #}
    <script src="{{ url_for('static', filename='js/linkurious/plugins/sigma.plugins.colorbrewer.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/linkurious/plugins/sigma.plugins.design.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/linkurious/plugins/sigma.renderers.customEdgeShapes.min.js')}}"></script>

    <script src="{{ url_for('static', filename='js/linkurious/plugins/sigma.plugins.legend.min.js')}}"></script>
    {# tooltips #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.8.1/mustache.min.js"></script>
    <script src="{{ url_for('static', filename='js/linkurious/plugins/sigma.plugins.tooltips.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/chosen.jquery.min.js')}}"></script>
    <script>
        $(function() {
            // show hide settings nav
            $('.setting-nav-shower-a').on('click', function(e){
                e.preventDefault();
                $('#setting-nav-shower').fadeOut();
                $('#settings-nav').fadeIn();
            });

            var setting_nav_toggle = $('.setting-nav-toggle');
            setting_nav_toggle.on('click', function(e) {
                e.preventDefault();
                $('#settings-nav').fadeOut();
                $('#setting-nav-shower').fadeIn();    
            });

            // show hide customize nav
            $('.customize-nav-shower-a').on('click', function(e){
                e.preventDefault();
                $('#customize-nav-shower').fadeOut();
                $('#customize-nav').fadeIn();
            });

            var setting_nav_toggle = $('.customize-nav-toggle');
            setting_nav_toggle.on('click', function(e) {
                e.preventDefault();
                $('#customize-nav').fadeOut();
                $('#customize-nav-shower').fadeIn();    
            });

            // resize sigma container
            var window_size = $(window).height() - 100;
            $("#cytoscape-container").css('height', window_size + 'px');
            $("#cytoscape-container").css('margin-top', '-16px');
            //$('.sidebar-menu').css('height', $(document).height() + 'px'); 

            //manage selectors
            var org_selector = $(".org_selector");
            org_selector.chosen({
                no_results_text: "No match found..."
            });

            var pathway_selector = $('.pathway_selector');
            // pathway_selector.attr('disabled');
            //pathway_selector.chosen({no_results_text: "No match found..."});

            var meta_loader = $('.meta-loader');

            // on change organism selection
            org_selector.on('change', function(evt, params){
                // remove all options
                $('.pathway_selector option').remove();
                $('#help').css('display', 'none');
                console.log('on change event');
                meta_loader.css('display', 'inline');
                console.log(params['selected']);
                $.get("{{ url_for('home.get_pathways') }}?org=" + params['selected'],
                        function(data){
                            console.log("populating patwhay...");
                            for (i=0,l=data.length; i < l; ++i) {
                                var d = data[i];
                                pathway_selector.append($('<option>', {value: d['id'], text:d['name']}));
                            }
                            console.log('done');
                            $('.load-cytoscape-btn').removeAttr('disabled');
                            pathway_selector.removeAttr('disabled');

                            meta_loader.css('display', 'none');
                        },
                        "json");
            });

            // init empty sigma instance
            var graph = {'nodes': [], 'edges': []};
            var nodes_ids_set = {};
            var edges_ids_set = {};
            var nb_graph = 0;

            sigma.renderers.def = sigma.renderers.canvas
            s = new sigma({
                graph: graph,
                container: 'cytoscape-container',
                settings: {
                    nodeHaloColor: '#ecf0f1',
                    labelAlignment: 'top',
                    defaultLabelColor: "#fff",
                    enableNodeHovering: true,
                    enableEdgeHovering: true,
                    edgeHoverSizeRatio: 1,
                    nodeHaloSize: 10,
                    defaultNodeColor: '#ec5148',
                    labelSize: 'proportionnal',
                    labelColor: 'default',
                    // properties for legend 
                    legendWidth: 75, 
                    legendFontSize: 8,
                    animationsTime: 2500
                }
            });

            // setting styles
            var myStyles = {
              nodes: {
                color: {
                  by: 'cumflux',
                  scheme: 'colorbrewer.Blues',
                  bins: 9
                },
                size: {
                    by: 'cumflux',
                    min: 0.5,
                    max: 5,
                    bins: 9
                }
              },
              edges: {
                color: {
                  by: 'flux',
                  scheme: 'colorbrewer.Greens',
                  bins: 9
                },
                size: {
                    by: 'absflux',
                    min: 0.01,
                    max: 2.5
                }
              }
              
            };
            var myPalette = {
              colorbrewer: {
                YlGn: sigma.plugins.colorbrewer.YlGn,
                YlGnBu: sigma.plugins.colorbrewer.YlGnBu,
                GnBu: sigma.plugins.colorbrewer.GnBu,
                BuGn: sigma.plugins.colorbrewer.BuGn,
                PuBuGn: sigma.plugins.colorbrewer.PuBuGn,
                PuBu: sigma.plugins.colorbrewer.PuBu,
                BuPu: sigma.plugins.colorbrewer.BuPu,
                RdPu: sigma.plugins.colorbrewer.RdPu,
                PuRd: sigma.plugins.colorbrewer.PuRd,
                OrRd: sigma.plugins.colorbrewer.OrRd,
                YlOrRd: sigma.plugins.colorbrewer.YlOrRd,
                YlOrBr: sigma.plugins.colorbrewer.YlOrBr,
                Purples: sigma.plugins.colorbrewer.Purples,
                Blues: sigma.plugins.colorbrewer.Blues,
                Greens: sigma.plugins.colorbrewer.Greens,
                Oranges: sigma.plugins.colorbrewer.Oranges,
                Reds: sigma.plugins.colorbrewer.Reds,
                Greys: sigma.plugins.colorbrewer.Greys,
                PuOr: sigma.plugins.colorbrewer.PuOr,
                BrBG: sigma.plugins.colorbrewer.BrBG,
                PRGn: sigma.plugins.colorbrewer.PRGn,
                PiYG: sigma.plugins.colorbrewer.PiYG,
                RdBu: sigma.plugins.colorbrewer.RdBu,
                RdGy: sigma.plugins.colorbrewer.RdGy,
                RdYlBu: sigma.plugins.colorbrewer.RdYlBu,
                Spectral: sigma.plugins.colorbrewer.Spectral,
                RdYlGn: sigma.plugins.colorbrewer.RdYlGn,
                Accent: sigma.plugins.colorbrewer.Accent,
                Dark2: sigma.plugins.colorbrewer.Dark2,
                Paired: sigma.plugins.colorbrewer.Paired,
                Pastel1: sigma.plugins.colorbrewer.Pastel1,
                Pastel2: sigma.plugins.colorbrewer.Pastel2,
                Pastel3: sigma.plugins.colorbrewer.Pastel3,
                Set1: sigma.plugins.colorbrewer.Set1,
                Set2: sigma.plugins.colorbrewer.Set2,
                Set3: sigma.plugins.colorbrewer.Set3
              },
              edgeScheme: {
                'pos': '#00ff00',
                'neg': '#ff0000',
                'zero': '#d3d3d3'
              }
            };

            // Instanciate the design:
            var design = sigma.plugins.design(s, {
                styles: myStyles,
                palette: myPalette
            });

            // drag plugin
            var dragListener = sigma.plugins.dragNodes(s, s.renderers[0]);                        

            // halo rendering
            function renderHalo() {
              s.renderers[0].halo({
                nodes: s.graph.nodes()
              });
            }

            // halo on node hovering
            s.bind('hovers', function(e) {
              var adjacentNodes = [],
                  adjacentEdges = [];


                if (e.data.leave.nodes.length) {
                    console.log('leaving...');
                    s.renderers[0].halo({
                        nodes: [], //adjacentNodes,
                        edges: [] //adjacentEdges
                      });
                    return;
                }

              if (!e.data.enter.nodes.length) 
                return;

              // Get adjacent nodes:
              e.data.enter.nodes.forEach(function(node) {
                adjacentNodes = adjacentNodes.concat(s.graph.adjacentNodes(node.id));
              });

              // Add hovered nodes to the array and remove duplicates:
              adjacentNodes = adjacentNodes.concat(e.data.enter.nodes);

              // Get adjacent edges:
              e.data.enter.nodes.forEach(function(node) {
                adjacentEdges = adjacentEdges.concat(s.graph.adjacentEdges(node.id));
              });

              // Remove duplicates:
              adjacentEdges = adjacentEdges;

              // Render halo:
              s.renderers[0].halo({
                nodes: adjacentNodes,
                edges: adjacentEdges
              }); 
            }); // end bind hovers
            
            
            // hide node if degree = 0
            function hideNodeBasedOnDegree() {
                s.graph.nodes().forEach(function(node){
                    if (node.degree == 0) {
                        node.hidden = true;
                    }
                });
                s.refresh();
            }

            function cleanGraph() {
                s.graph.clear();
                s.refresh();
            }

            // may be difficult because have to ensure
            // that any id already exists
            function addNodesAndEdges(dat) {
                var g = JSON.parse(dat);
                var nodes = g['nodes'];
                console.log(nodes);
                var edges = g['edges'];

                for (var i=0; i < nodes.length; ++i) {
                    var n = nodes[i];
                    s.graph.addNode(n);
                }

                for(var j=0; j < edges.length; ++j) {
                    var e = edges[j];
                    var e_id = e['id'];
                    if (! (e_id in edges_ids_set)) {
                        edges_ids_set[e_id] = true;
                        s.graph.addEdge(e);
                    } else {
                        if (nb_graph > 0) {
                            var new_e_id = e_id + '-' + nb_graph;
                            edges_ids_set[new_e_id] = true;
                            e['id'] = new_e_id;
                            s.graph.addEdge(e);
                        }
                    }
                }
                nb_graph++;
            }


            // hide all nodes with degree < 0
            $('.filter-node').on('click', function(e){
                e.preventDefault();
                hideNodeBasedOnDegree();

            });

            // tooltips configuration
            var config = {
              node: {
                show: 'clickNode',
                //hide: 'hovers',
                cssClass: 'sigma-tooltip',
                position: 'top',
                // autoadjust: false,
                template:
                '<div class="arrow"></div>' +
                ' <div class="sigma-tooltip-header">\{\{full_name\}\}</div>' +
                '  <div class="sigma-tooltip-body">' +
                '    <table>' +
                '      <tr><th>flux</th> <td>\{\{flux\}\}</td></tr>' +
                '      <tr><th>cumulative flux</th> <td>\{\{cumflux\}\}</td></tr>' +
                '    </table>' +
                '  </div>' +
                '  <div class="sigma-tooltip-footer">Number of connections: \{\{degree\}\}</div>',
                renderer: function(node, template) {
                  // The function context is s.graph
                  // node.degree = this.degree(node.id);

                  // Returns an HTML string:
                  return Mustache.render(template, node);

                  // Returns a DOM Element:
                  //var el = document.createElement('div');
                  //return el.innerHTML = Mustache.render(template, node);
                }
              }
            };

            // Instanciate the tooltips plugin with a Mustache renderer for node tooltips:
            var tooltips = sigma.plugins.tooltips(s, s.renderers[0], config);

            // initialize legend
            var legend = sigma.plugins.legend(s);
            legend.setPlacement('left');
           
           // node color select
           $('.apply-node-color').on('click', function(e){
                e.preventDefault();
                var prop = $('.node-color-prop-select option:selected').text();
                var selected = $('.node-color-select option:selected').text();
                design.nodesBy('color', {
                    by: prop,
                    scheme: 'colorbrewer.' + selected,
                  });
                design.apply();
                legend.draw();
            });

           // node size select
           $('.apply-node-size').on('click', function(e){
                e.preventDefault();
                var prop = $('.node-size-prop-select option:selected').text();
                var selected = $('.nb-node-size').val();

                design.nodesBy('size', {
                    by: prop,
                    min:0.5,
                    max: parseInt(selected),
                    bins: 9
                  });
                design.apply();
                legend.draw();
            });

           // edge color select
           $('.apply-edge-color').on('click', function(e){
                e.preventDefault();
                var prop = $('.edge-color-prop-select option:selected').text();
                var selected = $('.edge-color-select option:selected').text();
                design.edgesBy('color', {
                    by: prop,
                    scheme: 'colorbrewer.' + selected,
                  });
                design.apply();
                legend.draw();
            });

            // edge color select
           $('.apply-edge-size').on('click', function(e){
                e.preventDefault();
                var prop = $('.edge-size-prop-select option:selected').text();
                var selected = $('.nb-edge-size').val();

                design.edgesBy('size', {
                    by: prop,
                    min:0.5,
                    max: parseInt(selected),
                    bins: 9
                  });
                design.apply();
                legend.draw();
            });

           // aplly edge color mapping
           $('.apply-edge-type').on('click', function(e){
                e.preventDefault();
                var selected = $('.edge-type-select option:selected').text();
                s.graph.edges().forEach(function(edge){
                    edge.type = selected;
                });
                s.refresh();
           });

           // apply background color
           $('.apply-background-color').on('click', function(e){
                e.preventDefault();
                var bg_color = $('#bg-color-input').val();
                $('#cytoscape-container').css('background-color', '' + bg_color);
           });

           $('.clear-graph').on('click', function(e){
                e.preventDefault();
                cleanGraph();
           });

           s.refresh();
            
            /** get some kgml data */
            $('.load-cytoscape-btn').on('click', function(evt){
                evt.preventDefault();
                var pathway_id = pathway_selector.val();
                var pathway_name = $('.pathway_selector option:selected').text();
                $('#centered-loader').css('display', 'inline');
                $.get("{{ url_for('user.get_kgml', username=current_user.username) }}?pathway_name=" + pathway_name + "&pathway_id=" + pathway_id + "&analysis_id=" + "{{ analysis.id }}",
                        function(data){
                            // add nodes 
                            addNodesAndEdges(data);
                            // update design
                            design.apply();

                            // setting node degree
                            s.graph.nodes().forEach(function(node){
                                if (node.degree === undefined) {
                                    var degree = parseInt(s.graph.degree(node.id));
                                    if (degree !== undefined)
                                        node.degree = degree;
                                    else
                                        node.degree = 0;
                                }
                            });

                            // configure force links layout
                            if (pathway_name == 'Whole model') {
                                var fa = sigma.layouts.configForceLink(s, {
                                  worker: true,
                                  barnesHutOptimize: true,
                                  autoStop: true,
                                  background: true,
                                  gravity: 3,
                                  alignNodeSiblings: true,
                                  outboundAttractionDistribution: false,
                                  nodeSiblingsScale: 50,
                                  //nodeSiblingsAngleMin: 0.2,
                                  linLogMode: true,
                                  easing: 'cubicInOut'
                                });

                                sigma.layouts.startForceLink();
                            }
                            legend.draw();
                            s.refresh();
                            $('#centered-loader').css('display', 'none');
                        }                           
                    );
            });
        });

    </script>
{% endblock %}
