{% extends "sidebar_layout.html" %}
{% block css %}
    {{ super() }}
    <style>
        .analysis, .launch {
{#            padding-top: 50px;#}
        }
    </style>
{% endblock %}
{% block content %}
    <div class="row">
        <h1 class="banger purple">
          <span class="fa fa-book text-muted"></span> {{ project.title }}
          <small class="text-muted">#{{project.id}}</small>
        </h1>
        <hr>
    </div>

    <div class="analysis row">
        <div class="col-md-12">
            {% if project.analysis | length %}
                <div class="list-group">
                    {% for analysis in project.analysis %}
                        <h4 class="list-group-item">

                            <a href="{{ url_for('user.visualize_fba_analysis', username=current_user.username, analysis_id=analysis.id) }}">{{ analysis.title }}</a>
                            &bull;
                            <label class="label label-info">{{ analysis.kind }}</label>
                            &bull;

                                <label class="label label-{% if analysis.results_content == 'optimal' %}success{% else %}danger{% endif %}">{{ analysis.results_content }}</label>
                            &bull;
                            <span class="text-muted">created {{ analysis.creation_date | time_since }}</span>
                            &bull;
                            <small>
                              <a href="{{ url_for('user.download', username=current_user.username, project_id=project.id, analysis_id=analysis.id) }}">
                                <span class="text-muted fa fa-download"></span> download
                              </a>
                            </small>
                        </h4>
                        <p class="small">{{analysis.description}}</p>
                    {% endfor %}
                </div>
            {% else %}
                <p class="help-block" style="font-size:0.8em;">It seems that you do not have performed analysis yet. <a href="#">Start Annotation or FBA analysis clicking buttons above.</a></p>
            {% endif %}

        </div>
    </div>
    <div class="row">
        <h2 class="banger purple"><span class="fa fa-plus text-muted"></span> Launch new analysis</h2>
        <hr>
    </div>
    <div class="launch row ">
      <div class=col-md-6>
        <div class="list-group">
          <a href="#" class="list-group-item annot-task disabled">
            <h4 class="list-group-item-heading">Database search <small><span class="label label-primary">soon</span></small></h4>
            <p class="list-group-item-text" style="font-size:0.8em;">
              Uploading a peaklist from the output of XCMS for example and
              perform annotation analysis using mzOS software.
              <!-- <a href="http://jerkos.github.io/mzOS">mzOS software</a>. -->
            </p>
          </a>
          <a href="{{url_for('user.create_fba_analysis', username=current_user.username, project_id=project.id, slug=project.slug)}}" class="list-group-item active fba-task">
            <h4 class="list-group-item-heading">Flux balance analysis</h4>
            <p class="list-group-item-text" style="font-size:0.8em;">
              Choose your organism and perform simple Flux Balance Analysis using
              COBRAPY software.
            </p>
          </a>
        </div>
      </div>
    </div>
{% endblock %}
{% block javascript %}
{% endblock %}